<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.neptuneisthebest.Clash-for-macOS-Helper</key>
		<string>identifier &quot;com.neptuneisthebest.Clash-for-macOS-Helper&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Apple Development: 13058097081a@gmail.com (J7DCJWYXF2)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.yaml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Clash Configuration</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.clash.config</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yaml</string>
					<string>yml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
